nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--invert-background-color);
}

div {
    list-style: none;
    width: fit-content;
    height: 50px;
}

li {
    margin: 0 10px;
}

.link {
    margin: 0 10px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .brand {
        margin: 0 15px;
        font-size: 130%;
    }
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
