button {
    width: 100%;
    min-height: 45px;
    font-size: 105%;
    margin-top: 3%;
    padding: 2% 0;
    border: 1px solid var(--default-background-color);
    border-radius: var(--default-border-radius);
    transition: all 1s ease-in;
    cursor: not-allowed;
    
    &.button_green {
        color: var(--default-text-color);
        background-color: var(--valid-color);
        cursor: pointer;
    }
    
    &.button_red {
        color: var(--default-text-color);
        background-color: var(--invalid-color);
        cursor: pointer;
    }

}
