<section>
    <div class="cont-principal-form">
        <p class="title">Antes de iniciar</p>

        <div class="cont-rules">
            <p>Tome en cuenta lo siguiente:</p>
            <ol>
                <li *ngFor="let rule of rules">{{rule}}</li>
            </ol>
            
            <p>Nota: No intentes jugar sucio, ser honesto tiene su recompensa</p>
            <div class="cont-check">
                <input id="check" type="checkbox" [(ngModel)]="check" [ngStyle]="{'acept': check}">
                <label for="check">Estoy de acuerdo con lo descrito</label>
            </div>
        </div>

        <app-button-next [text]="'Iniciar test'" [valid]="check" [green]="true"></app-button-next>
    </div>

    
</section>
