section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .cont-principal {
        width: 60%;
        height: 50%;
        background-color: var(--invert-background-color);

        .cont-left {
            width: 100%;
            height: 70%;
            background-color: red;
        }
    
        .cont-right {
            width: 100%;
            height: 30%;
            background-color: blue;
        }
    }
}