.cont-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-gap: 15px;
    width: 100%;

    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 20px;
        border: solid 1px var(--default-border-color);
        border-radius: var(--default-border-radius);
        color: var(--invert-text-color);
        background-color: var(--invert-background-color);
        box-shadow: 0 0 2px var(--default-box-shadow-color);

        p {
            align-items: center;
            text-align: center;
        }

    }
}

@media ( hover:hover ) {
    .cont-grid {
        .box {

            &:hover {
                transform: scale(1.07);
                cursor: pointer;
                
                .cont-cover {
                    transform: scale(1);
                }

                .name {
                    transform: scale(0);
                    display: none;
                }

                .description {
                    transform: scale(1);
                    display: block;
                }
            }

            .name {
                position: absolute;
                font-size: 110%;
                transition: transform .3s;
            }

            .description {
                transition: transform .3s;
                transform: scale(0);
                font-size: 75%;
                text-align: justify;
            }

            .cont-cover {
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .5s;
                transform: scale(0);
                width: 100%;
                height: 100%;
                border-radius: var(--default-border-radius);
                background-color: var(--default-background-color)
            }

        }
    }
}

@media ( hover:none ) {
    .cont-grid {
        
        .box {

            .name {
                font-size: 110%;
                margin: 0;
            }

            .description {
                font-size: 75%;
                text-align: justify;
            }

            .cont-cover {
                display: none;
            }

        }
    }
}
