section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh;
    
    .cont-principal-form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 300px;
        width: 65%;
        height: fit-content;
        background-color: var(--invert-background-color);
        padding: 20px 20px;
        border-radius: var(--default-border-radius);
        text-align: justify;
        transition: all .5s ease-in-out;

        .window-start {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .cont-rules {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
    
    
                .cont-check {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin-top: 3%;
    
                    input {
                        appearance: none;
                        min-width: 18px;
                        min-height: 18px;
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        transition: all .1s ease-in-out;
                        background-color: transparent;
                        border: 1px solid black;
                        border-radius: var(--default-border-radius);
                        
                        &:checked {
                            background: url("../../../../assets/svg/check_white.svg");;
                            background-size: contain;
                        }
                    }
    
                }
            }

            p {
                margin-bottom: 0;
                font-weight: bold;
            }
        }

        .window-second {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            
            .cont-questions {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .cont-header {
                    position: relative;
                    width: 100%;
                    height: fit-content;
    
                    .question {
                        text-align: center;
                        margin: 1% 0 0 0;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .cont-time {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 3%;
                    width: 10%;
                    height: 15%;
                    margin-bottom: 5%;
                    border: 2px solid var(--default-background-color);
                    border-radius: var(--default-border-radius);
                    box-shadow: 0 0 2px var(--default-box-shadow-color);

                    .time {
                        font-size: 120%;
                    }
                }
    
                .cont-answers {
                    width: 100%;
                    height: fit-content;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    grid-gap: 2%;
                    margin: 2% 0;

                    .answer {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin: 1% 0;
                        padding: 0 6%;
                        border: 2px solid var(--default-background-color);
                        border-radius: var(--default-border-radius);
                        line-height: 125%;
                        box-shadow: 0 0 2px var(--default-box-shadow-color);
                    }
                    
                }
                
            }
    
            .cont-finish {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                display: none;
                
                .cont-up {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: fit-content;
                    
                    .score {
                        font-weight: bold;
                    }
                }

            }
        }
        
        .cont-button {
            width: 60%;
            height: fit-content;
        }
    }
}

@media (hover: hover) {
    .answer {
        transition: all .2s ease-in-out;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.04);
        }
    }
}

@media (hover: none) {
    section {
        height: fit-content;

        .cont-principal-form {
            min-width: 205px;
            width: 80%;
            padding: 25px;
            
            .window-start {
                .cont-rules {
                    padding-right: 5%;

                    .cont-check {
                        margin-top: 7%;
                    }
                }
            }
    
            .window-second {

                .cont-questions {
                    flex-direction: column;
                    
                    .cont-time {
                        position: inherit;
                        width: 100%;
                        height: 40px;

                        .time {
                            font-size: 100%;
                        }
                    }
                    
                    .cont-answers {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 90%;
                        
                        .answer {
                            height: fit-content;

                            &:active {
                                transform: scale(1.02);
                            }
                        }
                    }
                    
                }

            }

            .cont-button {
                width: 100%;
            }
        }
    }
}