<section>
    <div class="cont-principal-form">
        
        <div id="window-start" class="window-start" [ngClass]="{'hide-animation': !showStart}">
            
            <p class="title">Antes de iniciar</p>
        
            <div class="cont-rules">
                <p>Tome en cuenta lo siguiente:</p>
                <ol>
                    <li *ngFor="let rule of rules">{{rule}}</li>
                </ol>
                <p>Nota: Una vez iniciado el test, no deberás salir de esta ventana, mucho menos recargarla, hasta finalizar el test</p>
                
                <div class="cont-check">
                    <input id="check" type="checkbox" [(ngModel)]="check">
                    <label for="check">Estoy de acuerdo con lo descrito</label>
                </div>
            </div>

            <div class="cont-button">
                <app-button-next [text]="'Iniciar'" [valid]="check" [green]="true" (click)="startTest()">
                </app-button-next>
            </div>
        </div>
        
        <div id="window-second" class="window-second" [ngClass]="{'show-animation': showSecond, 'hide-animation': !showSecond }">
            
            <div id="cont-questions" class="cont-questions" >
                <div class="cont-time">
                    <p class="time">{{time}}seg</p>
                </div>
                
                <div class="cont-header">
                    <p class="title">Pregunta {{counter+1}}</p>
                    <p class="question">{{questions[counter].question_name}}</p>
                </div>
                
                <div class="cont-answers">
                    <div *ngFor="let answer of questions[counter].question_answers; let i = index" class="answer" id="{{i}}"
                        (click)="selectAnswer(i)">
                        <p>{{answer}}</p>
                    </div>
                </div>
            </div>

            <div id="cont-finish" class="cont-finish" >
                <div class="cont-up">
                    <p class="title">Resultados</p>
                    <p class="score">Calificación: <span>{{points}}</span></p>
                </div>

                <div class="cont-button">
                    <app-button-next [text]="'Volver a la pagina de inicio'" [valid]="true" [green]="true" (click)="finishTest()"></app-button-next>
                </div>
                    
            </div>

        </div>
        
        
    </div>
</section>
