<section>
    <div id="start" class="cont-principal-form" [ngClass]="{'hide-animation': !showStart}">
        <p class="title">Antes de iniciar</p>
        
        <div class="cont-rules">
            <p>Tome en cuenta lo siguiente:</p>
            <ol>
                <li *ngFor="let rule of rules">{{rule}}</li>
            </ol>
            
            <p>Nota: No intentes jugar sucio, ser honesto tiene su recompensa</p>
            <div class="cont-check">
                <input id="check" type="checkbox" [(ngModel)]="check">
                <label for="check">Estoy de acuerdo con lo descrito</label>
            </div>
        </div>

        <div class="btn-start">
            <app-button-next [text]="'Iniciar'" [valid]="check" [green]="true" (click)="start()">
            </app-button-next>
        </div>
    
    </div>
    
</section>
