<section>
    <div class="cont-principal-form">    
        <p class="title">Inicio de sesión</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <label for="username">Nombre de ussuario:</label>
            <input type="text" id="username" placeholder="Ej. Javier123" autofocus
                formControlName="username">

            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ej. 123456" 
                formControlName="password">

            
            
            <div class="cont-message">
                ¿No tienes una cuenta? <br>
                <a (click)="goLink('/user/register')">Registrarse</a>
            </div>

            <app-button-next [text]="'Iniciar sesión'" [valid]="loginForm.valid" [green]="true">>
            </app-button-next>
        </form>
    </div>
</section>