<section>
    <div class="cont-principal-form">    
        <p class="title">Inicio de sesión</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            
            <label for="username">Nombre de ussuario:</label>
            <input type="text" id="username" placeholder="Ej. Javier123" autofocus
                formControlName="username" (keyup)="checkError('error_username', 'username')">
            <p id="error_username" *ngIf="loginForm.controls['username']?.invalid">{{error_message}}</p>

            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ej. 12345678" 
                formControlName="password" (keyup)="checkError('error_password', 'password')">
            <p id="error_password" *ngIf="loginForm.controls['password']?.invalid"></p>

            <p *ngIf="error_message.length" class="error_message">{{error_message}}</p>

            
            

            <app-button-next [text]="'Iniciar sesión'" [valid]="loginForm.valid" [green]="true">>
            </app-button-next>

            <div class="cont-forgot-password">
                <a (click)="goLink('/user/forgot-password')">¿Olvidaste tu contraseña?</a> <br>
            </div>

            <div class="cont-suggestion">
                ¿No tienes una cuenta? 
                <a (click)="goLink('/user/register')">Registrarse</a>
            </div>
            
        </form>
    </div>
</section>