/* You can add global styles to this file, and also import other style files */
:root {
    --default-background-color: rgba(0, 0, 0, 0.200);
    --default-text-color: white;
    --default-text-hover-color: gray;


    --invert-background-color: hsl(0, 0%, 100%, 0.700);
    --invert-text-color: black;
    
    --default-border-radius: 20px;
    --default-border-color: black;
    --default-box-shadow-color: gray;

    --valid-color: hsla(120, 100%, 25%, 0.500);
    --invalid-color: hsla(0, 100%, 50%);
}

body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000), url(./assets/general/background.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 0%, 0%, 0.100), hsla(0, 0%, 26%, 0.100)), url(./assets/general/background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;

    font-family: 'Roboto Mono', monospace;
}

.title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--invert-text-color);
    
    &:hover {
        color: var(--default-text-hover-color);
        cursor: pointer;
    }

    &:active {
        color: var(--default-text-hover-color);
    }
}
